.construction {
  min-height: 500px;
  background: black;
  margin-top: -45px;
  clip-path: polygon(35% 1%, 54% 4%, 67% 1%, 85% 4%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 84% 100%, 0 100%, 0 0, 17% 5%);
}
