.description-block {
  background: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.description-block-paddings {
  padding: 200px 0 170px 0;
}

.description-block-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.dscr-left-box {
  width: 50%;
  margin-right: 50px;
  display: flex;
  justify-content: center;
}

.dscr-right-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  width: 50%;

  & :first-child {
    margin-bottom: 25px;
  }
}

.dscr-illustration-mobile {
  max-width: 290px;
  display: none;
}

.dscr-illustration {
  max-width: 600px;
}

.descBlockTitle {
  position: relative;
}

.descBlockTitle:before {
  content: '';
  height: 122px;
  width: 385px;
  background: url('/src/resources/img/descriptionBlockSlash.png');
  background-repeat: no-repeat;
  position: absolute;
  top: -78px;
  left: -125px;
}

@media (max-width: 1200px) {
  .description-block-frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }

  .dscr-right-box {
    width: 100%;
    text-align: center;

    h2 {
      width: 70%;
    }

    p {
      width: 70%;
    }
  }

  .dscr-left-box {
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
    align-items: flex-start;
  }
}

@media (max-width: 1430px) {
  .description-block-paddings {
    padding: 170px 0 125px 0;
  }

  .dscr-illustration {
    max-width: 500px;
  }
}

@media (max-width: 750px) {
  .dscr-right-box {
    h2 {
      width: 100%;
    }

    p {
      width: 100%;
    }
  }
}

@media (max-width: 530px) {
  .dscr-illustration-mobile {
    display: block;
  }

  .dscr-illustration {
    display: none;
  }

  .description-block-paddings {
    padding: 128px 0 100px 0
  }
}

.dscrAnimationTrigger {
  position: absolute;
  top: 200px;
}
