@use '/src/scss/animations/_miscBlockAnimation.scss';

.miscAnimationTrigger {
  height: 55px;
  width: 55px;
  position: absolute;
  z-index: 1;
  top: 237px;
  left: 50%;
  // background: rgb(0, 217, 255);
}

.miscAnimationTriggerAOS {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 104px;
  z-index: 1;
  // background: yellow;
}

.miscAnimationTriggerAOS:after {
  content: "";
  position: absolute;
  height: 122px;
  width: 15px;
  bottom: -122px;
  z-index: 500;
  // background: rgb(236, 193, 2);
  // border-bottom: 5px red solid;
}

.miscBlock {
  margin-top: -45px;
  position: relative;
  display: flex;
}

.miscBlockFrame {
  display: flex;
  justify-content: center;
  position: relative;
}

.mscLeftBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  margin-right: 50px;
  z-index: 1;

  .mscBlockTitle {
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 40px;
  }
}

.mscRightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  z-index: 1;
}

.miscBlockPaddings {
  padding: 140px 0 140px 0;
}

.mscDoodle {
  max-width: 430px;
  position: relative;
  animation: rotateDoodle 70s cubic-bezier(0.26, 0.23, 0.6, 0.64);
  animation-iteration-count: infinite;
  animation-delay: 2.48s;
}

.mscWoman {
  width: 150px;
  position: absolute;
}

@keyframes rotateDoodle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1430px) {
  .mscWoman {
    width: 120px;
  }

  .mscDoodle {
    max-width: 330px;
  }
}

@media (max-width: 1100px) {
  .miscBlockFrame {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .mscLeftBox {
    order: 2;
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-right: 0;

    p {
      max-width: 70%;
    }
  }

  .mscRightBox {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin-bottom: 40px;
  }
}

@media (max-width: 750px) {
  .mscLeftBox {
    p {
      max-width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .mscWoman {
    width: 110px;
  }

  .mscDoodle {
    max-width: 300px;
  }
}
