.servicesFlexFrame {
  display: flex;
  // justify-content: center;
  justify-content: space-evenly;
}

.fasilPaddings {
  padding-bottom: 50px;
}

.visualPaddings {
  padding-top: 50px;
  padding-bottom: 100px;
}

.vsualNotesFrame {
  background: black;
  clip-path: polygon(
    0 0,
    23% 4%,
    46% 2%,
    67% 4%,
    86% 2%,
    100% 0,
    100% 99%,
    76% 97%,
    52% 99%,
    33% 97%,
    16% 99%,
    0% 100%
  );
  padding-bottom: 100px;
}

.servicesLeftBox {
  width: 40%;
  display: flex;
  justify-content: center;
}

.servicesRightBox {
  width: 40%;
  display: flex;
  justify-content: center;
}

.positionFixes {
  justify-content: flex-end;
}

.servicesTextBox {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servicesTextDevider {
  height: 1px;
  width: 200px;
  background: gray;
  margin: 20px 0;
}

.servicesDescriptionBox {
  text-align: center;
}

.servicesGalleryFrame {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-top: 50px;
}

.leftFrame {
  padding-top: 50px;
  width: 50%;
}

.rightFrame {
  width: 50%;
}

.visualBoxFrame {
  height: 400px;
  cursor: pointer;
  background: orange;
  position: relative;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: 0.3s;
  overflow: hidden;
}

.vbHoverOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.925);
  padding: 20px;
  width: 100%;
  bottom: 0;
  transition: 0.2s;
  transform: translateY(90px);
}

.presentation1 {
  background: url('/src/resources/img/visualNotes/extraDemo/selfimprovementPresentation1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation2 {
  background: url('/src/resources/img/visualNotes/extraDemo/DPpresentation2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation3 {
  background: url('/src/resources/img/visualNotes/extraDemo/designerFearsPresentation3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.presentation4 {
  background: url('/src/resources/img/visualNotes/extraDemo/differancesGDvsDPPresentation4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.visualBoxFrame:hover {
  transition: 0.3s;
  transform: translateY(-5px) translateX(-5px);

  .vbHoverOverlay {
    transition: 0.2s;
    transform: translateY(0);
  }
}

@media (max-width: 1202px) {
  .visualBoxFrame {
    margin: 0 auto 25px auto;
  }
  .servicesPositionOrderLast {
    order: 2;
  }
  .servicesFlexFrame {
    flex-direction: column;
    align-items: center;
  }

  .servicesTextBox {
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    padding-right: 0;
  }

  .servicesLeftBox {
    width: 100%;
    justify-content: center;
  }

  .servicesRightBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .servicesGalleryFrame {
    flex-direction: column;
    align-items: center;
  }

  .rightFrame {
    width: 80%;
  }
  .leftFrame {
    width: 80%;
    padding-top: 0;
  }
  .visualBoxFrame {
    height: 200px;
  }

  .vsualNotesFrame {
    clip-path: polygon(
      0 0,
      25% 1%,
      50% 0,
      73% 1%,
      100% 0,
      100% 100%,
      74% 99%,
      50% 100%,
      24% 99%,
      0 100%
    );
  }
}
