body[data-aos-delay='3800'] [data-aos],
[data-aos][data-aos][data-aos-delay='3800'] {
	transition-delay: 3800ms;
}
body[data-aos-delay='4000'] [data-aos],
[data-aos][data-aos][data-aos-delay='4000'] {
	transition-delay: 4000ms;
}
body[data-aos-delay='4200'] [data-aos],
[data-aos][data-aos][data-aos-delay='4200'] {
	transition-delay: 4200ms;
}
