html {
  font-size: 16px;
  font-family: 'montserrat';
}

.globalOverflowX {
  overflow-x: hidden;
}

.hideContentWhileLoading {
  opacity: 0;
}

.showContentWhenLoaded {
  opacity: 1;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

.global-wrapper {
  max-width: 1530px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.global-block-paddings {
  padding: 200px 0 200px 0;
}

.global-color-dark {
  color: rgb(15, 15, 15);
}

.global-color-gray {
  color: rgb(78, 78, 78);
}

.global-color-white {
  color: white;
}

.global-title-text {
  font-family: 'montserrat';
  font-size: 2.5rem;
  font-weight: 500;
}

.global-subtitle-text {
  font-family: 'montserrat';
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 125%;
}

@media (max-width: 670px) {
  .global-subtitle-text {
    font-size: 1rem;
  }

  .global-title-text {
    font-size: 2rem;
  }
}

@media (max-width: 535px) {
  .global-title-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 390px) {
  .global-title-text {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 500px) {
  body {
    -webkit-animation: none !important;
    animation: none !important;
  }
}
