.animationTitle {
  font-weight: 600;
  font-size: 25px;
}

.animationBuletText {
  font-weight: 300;
  font-size: 22px;
  color: #504e4e;
}

.leftAnimationFrame {
  height: 615px;
  width: 315px;
  position: absolute;
  left: -408px;

  .ideaTitlePosition {
    position: absolute;
    right: -63px;
    top: 19px;
  }

  .ideaSlashPosition {
    position: absolute;
    right: -65px;
    top: 52px;
  }

  .lightBulbPosition {
    position: absolute;
    right: 47px;
    top: -40px;
  }

  .leftTrailPosition {
    position: absolute;
    top: 54px;
    right: -3px;
  }

  .conceptPosition {
    position: relative;
    left: 63px;
    bottom: -92px;
  }

  .conceptTitlePosition {
    left: 94px;
    bottom: 383px;
    position: absolute;
  }

  .gotchasPosition {
    position: absolute;
    bottom: 241px;
    right: 95px;
  }

  .gotchasTitlePosition {
    position: absolute;
    left: 135px;
    bottom: 206px;
  }

  .deadlinePosition {
    position: absolute;
    left: 70px;
    bottom: 0;
  }

  .deadlineTitlePosition {
    position: absolute;
    bottom: 6px;
    left: 45px;
  }
}

.rightAnimationFrame {
  height: 615px;
  width: 315px;
  position: absolute;
  right: -322px;

  .rightTrailPosition {
    position: absolute;
    bottom: 114px;
    // left: 0;
  }

  .goalPosition {
    position: absolute;
    top: -13px;
    right: -12px;
  }

  .goalTitlePosition {
    position: absolute;
    right: -36px;
    top: 101px;
  }

  .goalSlashPosition {
    position: absolute;
    right: -7px;
    top: 136px;
  }

  .presentationPosition {
    position: absolute;
    bottom: 40px;
    left: 143px;
  }

  .presentationTitlePosition {
    position: absolute;
    bottom: 10px;
    left: 148px;
  }

  .anylizePosition {
    position: absolute;
    right: 5px;
    bottom: 264px;
  }

  .anylizeTitlePosition {
    position: absolute;
    right: -35px;
    bottom: 233px;
  }

  .couchingPosition {
    position: absolute;
    left: 17px;
    top: 23px;
  }

  .couchingTitlePosition {
    position: absolute;
    left: -1px;
    top: 143px;
  }
}

@media (max-width: 1430px) {
  .rightAnimationFrame {
    display: none;
  }

  .leftAnimationFrame {
    display: none;
  }
}
