$bgHeight: 500px;
$bgDelay: 3s;

//Background slide animation

.miskBlockAnimationFrame {
  position: relative;
  overflow: hidden;
  margin-top: -45px;
  min-height: $bgHeight;
}

.miskBlockPinkLayer {
  position: absolute;
  background: #e93689;
  width: 100vw;
  height: $bgHeight;
  animation: upperSlideWave 3.1s;
  animation-fill-mode: forwards;
  animation-delay: $bgDelay;
}

.miskBlockBlueLayer {
  position: absolute;
  background: #0099ff;
  width: 100vw;
  height: $bgHeight;
  animation: upperSlideWave 3.2s;
  animation-fill-mode: forwards;
  animation-delay: $bgDelay;
}

.miskBlockOrangeLayer {
  position: absolute;
  background: #fc940d;
  width: 100vw;
  height: $bgHeight;
  animation: upperSlideWave 3.3s;
  animation-fill-mode: forwards;
  animation-delay: $bgDelay;
}

.miskBlockUpperSlide {
  position: absolute;
  background: black;
  width: 100vw;
  height: $bgHeight;
  animation: upperSlideWave 3s;
  animation-fill-mode: forwards;
  animation-delay: $bgDelay;
}

@keyframes upperSlideWave {
  0% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%);
  }

  25% {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  100% {
    clip-path: polygon(175% 0%, 100% 50%, 175% 100%, 100% 100%, 125% 50%, 100% 0%)
  }
}

// Hand animation

.miskBlockIconScene {
  position: absolute;
  // border: solid 1px red;
  height: 100%;
  width: 700px;
  z-index: 1;
  bottom: 0;
  left: 25%;
  animation: endScene 0.3s;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

.tt {
  position: absolute;
  height: 15px;
  width: 15px;
  // background: rgba(248, 107, 107, 0.089);
  bottom: 48%;
}

.mscHand {
  position: absolute;
  left: -12%;
  animation: handMotion 3s;
  animation-fill-mode: forwards;
  transform: rotate(37deg);
  animation-delay: 1s;
}

.mscUnderline {
  position: absolute;
  top: 50%;
  animation: handUnderline 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  width: 0;
  height: 5px;
  z-index: 4;
}

.mscBlueBlob {
  position: absolute;
  top: 40%;
  left: 9%;
  z-index: 3;
  animation: spash 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 2.9s;
  clip-path: circle(2.2% at 100% 100%);
}

.mscPinkBlob {
  position: absolute;
  top: 27%;
  left: 16%;
  z-index: 2;
  animation: spash 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 3.1s;
  clip-path: circle(2.2% at 100% 100%);
}

.mscOrangeBlob {
  position: absolute;
  top: 40%;
  left: 29%;
  z-index: 1;
  animation: spash 0.4s;
  animation-fill-mode: forwards;
  animation-delay: 3.3s;
  clip-path: circle(2.2% at 100% 100%);
}

@keyframes endScene {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spash {
  from {
    clip-path: circle(2.2% at 89% 100%);
  }

  to {
    clip-path: circle(120.0% at 80% 89%);
  }
}

@keyframes handMotion {
  0% {
    transform: translate(0, 0);
    transform: rotate(37deg);
  }

  50% {
    transform: rotate(0deg);
    transform: translate(30%, 62%);
  }

  100% {
    transform: translate(175%, 62%);
  }
}

@keyframes handUnderline {
  0% {
    width: 0;
  }

  100% {
    width: 42%;
  }
}
