$marginbot: -100px;
$rightPosition: 120px;
@-webkit-keyframes marker-stroke {
	0% {
		width: 0px;
	}
	100% {
		width: 200px;
	}
}
@keyframes marker-stroke {
	0% {
		width: 0px;
	}
	100% {
		width: 200px;
	}
}
@-webkit-keyframes marker-pencil {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: $rightPosition;
		bottom: $marginbot;
	}
	20% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: $rightPosition;
		bottom: $marginbot;
		opacity: 1;
	}
	70% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: -130px;
		bottom: $marginbot;
		opacity: 1;
	}
	90% {
		-webkit-transform: rotate(231deg);
		transform: rotate(231deg);
		right: -80px;
		bottom: 30px;
		opacity: 1;
	}
	95% {
		-webkit-transform: rotate(231deg);
		transform: rotate(231deg);
		right: -80px;
		bottom: 20px;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(231deg);
		transform: rotate(231deg);
		right: -80px;
		bottom: 30px;
		opacity: 1;
	}
}
@keyframes marker-pencil {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: $rightPosition;
		bottom: $marginbot;
	}
	20% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: $rightPosition;
		bottom: $marginbot;
		opacity: 1;
	}
	70% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		right: -130px;
		bottom: $marginbot;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(231deg);
		transform: rotate(231deg);
		right: -80px;
		bottom: 30px;
		opacity: 1;
	}
}
@-webkit-keyframes marker-arrow {
	0% {
		-webkit-transform: rotate(-120deg);
		transform: rotate(-120deg);
		left: -105px;
		opacity: 0;
	}
	20% {
		-webkit-transform: rotate(-120deg);
		transform: rotate(-120deg);
		left: -105px;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		left: 0;
		opacity: 1;
	}
}
@keyframes marker-arrow {
	0% {
		-webkit-transform: rotate(-120deg);
		transform: rotate(-120deg);
		left: -105px;
		opacity: 0;
	}
	20% {
		-webkit-transform: rotate(-120deg);
		transform: rotate(-120deg);
		left: -105px;
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		left: 0;
		opacity: 1;
	}
}
